@model IEnumerable<CourseProject.Domain.Entity.User>



@foreach (var user in Model)
{
    <p>@user.UserName</p>
    <p>@user.UserNumber</p>
    <p>@user.FkRole</p>
    <p></p>
    <p></p>
    <p></p>
}
